fastapi
uvicorn[standard]
transformers
Pillow
python-multipart
qdrant-client
python-dotenv
pdf2image
langchain
langchain-community
langchain-qdrant
sentence-transformers
einops
timm
addict
matplotlib
gunicorn  # Added for production server in Dockerfile
